body {
  font-family: sans-serif;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: black;
  color: white;
  font-size: large;
}

.left-aside {
  position: fixed;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: silver;
  color: black;
}

.main-area {
  position: fixed;
  top: 100px;
  left: 300px;
  right: 0;
  bottom: 0;
  background-color: white;
  color: black;
}
