body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.header {
	background-color: #49b7ff;
	margin-bottom: 14px;
	padding: 12px 0px;
}

/* style for grids */
.gridStyle {
    height: 450px;
    border: 1px solid #e0e0e0;
}

/* style for charts */
.chartStyle {
    height: 450px;
    border: 1px solid #e0e0e0;
}

/* style for benchmark results */
.result {
    display: block;
    float: right;
    font-weight: bold;
}
